.container
{
    width: 100% ;
    height: 700px;
    background-image: url(image.jpg);
    background-size: cover;
    background-position: center;
    color:white;
}
.title
{
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    color:cadetblue;

}
.todoform
{
    align-items: center;
    align-content: center;
    text-align: center;
}
.addBtn
{
    text-align: center;
    right: -733;
    color: cornflowerblue;
}
li{
    color: cornflowerblue;
}
